.popup {
  width: 880px;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  align-items: center;
  z-index: 1;
  color: #000;
}

.popup_opened {
  display: block;
}

.popup__conteiner {
  width: 470px;
  display: flex;
  flex-direction: column;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.popup__conteiner_image {
  width: 470px;
  max-width: 800px;
  height: auto;
  display: flex;
  justify-content: center;
}

#deleteCard .popup__conteiner {
  width: 430px;
  height: 181px;
  max-width: 430px;
}

.popup__content {
  background-color: #ffffff;
  border-radius: 10px;
  box-sizing: border-box;
}

#deleteCard .popup__content {
  width: 430px;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0;
  box-sizing: border-box;
}

.popup__button {
  font-size: 18px;
  color: #ffffff;
  cursor: pointer;
}
.popup__button:hover {
  opacity: 0.8;
}

.popup__button:disabled {
  background-color: #fffefe;
  cursor: default;
  color: #999999;
}

.popup__button_close {
  font-size: 40px;
  position: absolute;
  right: -40px;
  top: -390px;
  background-color: rgba(0, 0, 0, 0);
  border: none;
  z-index: 10;
  cursor: pointer;
}

#deleteCard .popup__button_close {
  top: -40px;
  right: -30px;
}

.popup__title {
  width: 330px;
  font-family: "Inter-Black", sans-serif;
  font-size: 24px;
  margin: 0 36px;
  padding: 34px 0 54px;
}

#deleteCard .popup__title {
  flex-shrink: 0;
}

.popup__form {
  width: 360px;
  margin: auto;
  border: 0;
  padding: 0;
}

.popup__input_name {
  width: 360px;
  border: 0;

  border-bottom: 1px solid #000;
}

.popup__input_type_error:invalid {
  border-bottom: 1px solid #ff0000;
}

.popup__error_visible {
  color: #ff0000;
}

.popup__input-error {
  display: block;
}

.popup__input_hobbie {
  width: 360px;
  border: 0;
  margin-top: 30px;
  border-bottom: 1px solid #000;
}

.popup__button_save {
  width: 100%;
  background-color: #000;
  padding: 10px;
  margin-bottom: 40px;
  margin-top: 30px;
}

#deleteCard .popup__button_save {
  width: 358px;
  height: 50px;
  margin: 0;
}

.popup__image-title {
  color: #fff;
}

@media screen and (min-width: 320px) and (max-width: 584px) {
  .popup {
    max-width: 300px;
  }
  .popup__conteiner {
    max-width: 280px;
    padding: 0 10px;
  }

  .popup__conteiner_image {
    width: 90vw;
    max-width: 280px;
    max-height: 60vh;
  }

  .popup__conteiner_image .popup__button_close {
    top: -250px;
    right: -5px;
    font-size: 30px;
  }

  .popup__content {
    padding: 20px;
    box-sizing: border-box;
  }

  #deleteCard .popup__content {
    width: 240px;
    height: 181px;
  }

  .popup__button_close {
    right: -25px;
    top: -35px;
    font-size: 30px;
  }

  .popup__title {
    max-width: 240px;
    margin: 0 22px;
  }

  #deleteCard .popup__title {
    width: 200px;
  }

  .popup__form {
    max-width: 240px;
  }

  .popup__input_name {
    max-width: 240px;
  }

  .popup__input_hobbie {
    max-width: 240px;
  }

  .popup__button_save {
    max-width: 240px;
  }

  #deleteCard .popup__button_save {
    width: 200px;
    height: 50px;
    margin: 0;
  }

  #deleteCard .popup__button_close {
    top: -35px;
    right: -20px;
  }

  .popup__form {
    max-width: 240px;
    width: 100%;
  }
  .popup__input_name,
  .popup__input_hobbie {
    width: 100%;
    max-width: 240px;
    box-sizing: border-box;
  }
  .popup__button_save {
    width: 100%;
    max-width: 240px;
  }
}
