.profile {
  max-width: 100%;
  display: flex;
  padding-top: 40px;
  gap: 30px;
}

.profile__person-conteiner {
  position: relative;
}

.profile__person {
  border-radius: 50%;
  max-width: 120px;
  height: 120px;
  object-fit: cover;
}

.profile__person:hover {
  opacity: 0.4;
  cursor: url("../src/images/edit-profile.svg") 1 1, auto;
}
.profile__content {
  display: flex;
  gap: 18px;
  flex-grow: 2;
}

.profile__paragraph {
  max-width: 415px;
}

.profile__name {
  font-weight: 500;
  font-size: 42px;
  line-height: 48px;
  margin: 0;
  padding-bottom: 16px;
}

.profile__hobbie {
  margin: 0;
  font-weight: 400;
  font-style: 18px;
  line-height: 100%;
}

.profile__edit-button {
  max-width: 24px;
  height: 24px;
  background: none;
  border:1px solid #FFFFFF;
  box-sizing: content-box;
}

.profile__edit-button:hover {
  opacity: 0.5;
}

.profile__add-button {
  width: 150px;
  height: 50px;
  background: none;
  border:2px solid #FFFFFF;
}

.profile__add-button:hover {
  opacity: 0.5;
}

@media screen and (min-width: 320px) and (max-width: 584px) {
    .profile {
  flex-direction: column;
  padding-top: 42px;
  align-items: center;
}
.profile__content {
  justify-content: center;
  gap: 10px;
}

.profile__paragraph {
  max-width: 224px;
  
}

.profile__name {
  font-size: 22px;
  padding-bottom: 14px;
}

.profile__hobbie {
  font-style: 14px;
  text-align: center;
}

.profile__edit-button {
  max-width: 18px;
  height: 18px;
  margin-top: 10px;
}

.profile__add-button {
  width: 282px;
  height: 50px;
}
}

@media screen and (min-width: 584px) and (max-width:880px) {
      .profile {
  max-width: 700px;
  gap: 20px;
  margin: auto;
}
.profile__content {
  justify-content: center;
  gap: 10px;
}

.profile__paragraph {
  max-width: 250px;
  
}

.profile__name {
  font-size: px;
  padding-bottom: 14px;
}

.profile__hobbie {
  font-style: 14px;
}

.profile__edit-button {
  max-width: 22px;
  height: 22px;
  margin-top: 16px;
}

.profile__add-button {
  width: 150px;
  height: 50px;
  align-self: self-end;
}
}